<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app" >
		<input type="text" name="nombre" placeholder="Ingresa el nombre" v-model="nombre">
		<p>Tu nombre en mayúscula es: {{nombre | uppercase}}</p>
		<form @submit.prevent="submit" action="#" method="get">
			<h2>¿Cuáles son tus cursos favoritos?</h2>
			<input v-model="cursos" type="checkbox" id="vue" value="vue">
			<label for="vue">Curso de Vue.js</label>
			<input v-model="cursos" type="checkbox" id="seo" value="seo">
			<label for="seo">Curso de SEO</label>
			<input v-model="cursos" type="checkbox" id="react" value="react">
			<label for="react">Curso de React</label>
			<input v-model="cursos" type="checkbox" id="Growth" value="Growth">
			<label for="Growth">Curso de Growth</label>
			<button type="submit">Enviar</button>
		</form>
	</div>

	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
					nombre: '',
					cursos: []
			},
			filters: {
				uppercase: function(str){
					return str.toUpperCase()
				}
			},
			methods:{
				submit: function(){
					console.log('Método submit')
					console.log(this.cursos)
				}
			}			
		})
	</script>
</body>
</html>